<h1>The Graphic goes here</h1>

<hr><br>

<body class='rails_admin'>
  <table class='table table-condensed table-striped'>
    <thead>
      <tr>
        <th class='shrink model-name'>Model name</th>
        <th class='shrink last-created'>Last created</th>
        <th class='records'>Records</th>
        <th class='shrink controls'></th>
      </tr>
    </thead>

    <tbody>
      <tr class='odd link address_links' data-link='/admin/address'>
        <td>
          <span class='show'><a class="pjax" href="/admin/address">Addresses</a></span>
        </td>
        <td>
          about 14 hours ago # Need to add Rails toags on it 
        </td>
        <td>
          <div class='progress progress-warning active progress-striped' style='margin-bottom:0px'>
              <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1520' data-animate-width-to='76%' style='width:2%'>
              100
            </div>
          </div>
        </td>

        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/address">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/address/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/address/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='even link batterie_links' data-link='/admin/batterie'>
        <td>
          <span class='show'><a class="pjax" href="/admin/batterie">Batteries</a></span>
        </td>
        <td>
          about 13 hours ago
        </td>
        <td>
          <div class='progress progress-warning active progress-striped' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1520' data-animate-width-to='76%' style='width:2%'>
            100
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/batterie">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/batterie/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/batterie/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='odd link building_links' data-link='/admin/building'>
        <td>
          <span class='show'><a class="pjax" href="/admin/building">Buildings</a></span>
        </td>
        <td>
          about 13 hours ago
        </td>
        <td>
          <div class='progress progress-warning active progress-striped' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1520' data-animate-width-to='76%' style='width:2%'>
            100
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/building">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/building/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/building/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='even link building_detail_links' data-link='/admin/building_detail'>
        <td>
          <span class='show'><a class="pjax" href="/admin/building_detail">Building details</a></span>
        </td>
        <td>
          about 13 hours ago
        </td>
        <td>
          <div class='progress progress-warning active progress-striped' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1520' data-animate-width-to='76%' style='width:2%'>
            100
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/building_detail">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/building_detail/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/building_detail/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='odd link column_links' data-link='/admin/column'>
        <td>
        <span class='show'><a class="pjax" href="/admin/column">Columns</a></span>
        </td>
        <td>
        about 13 hours ago
        </td>
        <td>
        <div class='progress progress-danger active progress-striped' style='margin-bottom:0px'>
        <div class='progress-bar animate-width-to progress-bar-danger' data-animate-length='1760' data-animate-width-to='88%' style='width:2%'>
        200
        </div>
        </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/column">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/column/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/column/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='even link customer_links' data-link='/admin/customer'>
        <td>
          <span class='show'><a class="pjax" href="/admin/customer">Customers</a></span>
        </td>
        <td>
          about 13 hours ago
        </td>
        <td>
          <div class='progress progress-warning active progress-striped' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1520' data-animate-width-to='76%' style='width:2%'>
            100
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/customer">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/customer/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/customer/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='odd link dim_customer_links' data-link='/admin/dim_customer'>
        <td>
          <span class='show'><a class="pjax" href="/admin/dim_customer">Dim customers</a></span>
        </td>
        <td>

        </td>
        <td>
          <div class='progress progress-warning' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1520' data-animate-width-to='76%' style='width:2%'>
            100
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/dim_customer">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/dim_customer/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/dim_customer/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='even link elevator_links' data-link='/admin/elevator'>
        <td>
          <span class='show'><a class="pjax" href="/admin/elevator">Elevators</a></span>
        </td>
        <td>
          about 13 hours ago
        </td>
        <td>
          <div class='progress progress-danger active progress-striped' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-danger' data-animate-length='2000' data-animate-width-to='100%' style='width:2%'>
            400
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/elevator">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/elevator/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/elevator/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='odd link employee_links' data-link='/admin/employee'>
        <td>
          <span class='show'><a class="pjax" href="/admin/employee">Employees</a></span>
        </td>
        <td>
          about 13 hours ago
        </td>
        <td>
          <div class='progress progress-warning active progress-striped' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1520' data-animate-width-to='76%' style='width:2%'>
            100
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/employee">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/employee/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/employee/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='even link fact_contact_links' data-link='/admin/fact_contact'>
        <td>
          <span class='show'><a class="pjax" href="/admin/fact_contact">Fact contacts</a></span>
        </td>
        <td>

        </td>
        <td>
          <div class='progress progress-warning' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1520' data-animate-width-to='76%' style='width:2%'>
            100
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/fact_contact">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/fact_contact/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/fact_contact/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>

      <tr class='odd link fact_elevator_links' data-link='/admin/fact_elevator'>
        <td>
          <span class='show'><a class="pjax" href="/admin/fact_elevator">Fact elevators</a></span>
        </td>
        <td>

        </td>
        <td>
          <div class='progress progress-danger' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-danger' data-animate-length='2000' data-animate-width-to='100%' style='width:2%'>
            400
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/fact_elevator">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/fact_elevator/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/fact_elevator/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <tr class='even link fact_quote_links' data-link='/admin/fact_quote'>
        <td>
          <span class='show'><a class="pjax" href="/admin/fact_quote">Fact quotes</a></span>
        </td>
        <td>

        </td>
        <td>
          <div class='progress progress-warning' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1520' data-animate-width-to='76%' style='width:2%'>
            100
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/fact_quote">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/fact_quote/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/fact_quote/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <tr class='odd link lead_links' data-link='/admin/lead'>
        <td>
          <span class='show'><a class="pjax" href="/admin/lead">Leads</a></span>
        </td>
        <td>
          about 2 hours ago
        </td>
        <td>
          <div class='progress progress-warning active progress-striped' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1540' data-animate-width-to='77%' style='width:2%'>
            101
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/lead">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/lead/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/lead/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <tr class='even link quote_links' data-link='/admin/quote'>
        <td>
          <span class='show'><a class="pjax" href="/admin/quote">Quotes</a></span>
        </td>
        <td>
          about 2 hours ago
        </td>
        <td>
          <div class='progress progress-warning active progress-striped' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-warning' data-animate-length='1540' data-animate-width-to='77%' style='width:2%'>
            101
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/quote">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/quote/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/quote/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <tr class='odd link user_links' data-link='/admin/user'>
        <td>
          <span class='show'><a class="pjax" href="/admin/user">Users</a></span>
        </td>
        <td>
          about 13 hours ago
        </td>
        <td>
          <div class='progress progress-danger active progress-striped' style='margin-bottom:0px'>
            <div class='progress-bar animate-width-to progress-bar-danger' data-animate-length='1760' data-animate-width-to='88%' style='width:2%'>
            200
            </div>
          </div>
        </td>
        <td class='links'>
          <ul class='inline list-inline'>
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/user">
                <i class="icon-th-list"></i>
                <span style='display:none'>List</span>
              </a>
            </li>
          
            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/user/new">
                <i class="icon-plus"></i>
                <span style='display:none'>Add new</span>
              </a>
            </li>
          
            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="http://rocketlift.ca/admin/user/export">
                <i class="icon-share"></i>
                <span style='display:none'>Export</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</body>